@model HomeVM
@{
    ViewData["Title"] = "Rituallar";
}
<input id="searchURL" type="hidden" value="/search" />


<section class="product-shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-8 order-10 produts-sidebar-filter">
                <div class="nav-depart">
                    <div class="depart-btn">
                        <i class="fas fa-bars"></i>
                        <span>Rituallar</span>
                        <ul class="list-group list-unstyled">
                            <li>
                                <a class="list-group-item" href="/Search">Bütün Rituallar</a>
                            </li>
                            @foreach (var cat in Model.Categories)
                            {
                                <li>
                                    <a class="list-group-item" href="/Search/Index/@cat.Id">@cat.Name</a>
                                </li>
                            }

                        </ul>
                        @*<ul class="p-0  list-unstyled depart-hover">
            <li>
                <a style="font-weight:700">
                    <img style="margin-right:10px" width="30" src="~/Uploads/image/subconscious_mind_control.jpg" />
                    Su Ritualları
                </a>

            </li>

            <li>
                <a style="font-weight:700">
                    <img style="margin-right:10px" width="30" src="~/Uploads/image/pulritual.jpg" />
                    Pul Ritualları
                </a>

            </li>
            <li>
                <a style="font-weight:700">
                    <img style="margin-right:10px" width="30" src="~/Uploads/image/yuxurituali.jpg" />
                    Yuxu Ritualları
                </a>

            </li>
            <li>
                <a style="font-weight:700">
                    <img style="margin-right:10px" width="30" src="~/Uploads/image/barmaqgucu.gif" />
                    Barmaqlarımızın Gücü
                </a>

            </li>
            <li>
                <a style="font-weight:700">
                    <img style="margin-right:10px" width="30" src="~/Uploads/image/mesajyazdirma.jpg" />
                    Mesaj Yazdırma Ritualları
                </a>

            </li>
            <li>
                <a style="font-weight:700">
                    <img style="margin-right:10px" width="30" src="~/Uploads/image/subconscious_mind_control.jpg" />
                    Su Ritualları
                </a>

            </li>
            <li>
                <a style="font-weight:700">
                    <img style="margin-right:10px" width="30" src="~/Uploads/image/işritual.jpg" />
                    Sevgi Ritualları
                </a>

            </li>
            <li>
                <a style="font-weight:700">
                    <img style="margin-right:10px" width="30" src="~/Uploads/image/işritual.jpg" />
                    İş Ritualları
                </a>

            </li>
            <li>
                <a style="font-weight:700">
                    <img style="margin-right:10px" width="30" src="~/Uploads/image//yeniayritual.jpg" />
                    Yeni Ay Ritualları
                </a>

            </li>

        </ul>*@
                    </div>
                </div>



            </div>
            <div class="col-lg-9">
                <section id="top" class="spad d-none d-sm-block">
                    <div class="container">
                        <div class="row">
                            @foreach (var video in Model.Videos)
                            {
                                <div class="col-lg-4  col-sm-6">
                                    <div class="item">
                                        <div class="product-item">
                                            <div class="picture">
                                                @if (video.Picture != null)
                                                {
                                                    <img src="~/Uploads/@video.Picture.Url" class="img-fluid">
                                                }
                                                else
                                                {
                                                    <img src="~/Uploads/image/slider-img-1.jpeg" class="img-fluid">
                                                }
                                            </div>
                                            <div class="picture-title">
                                                <div class="pro-header my=5">
                                                    <h6 class="my-2">
                                                        <a href="/Search/Detail/@video.Id">
                                                            @video.Name
                                                        </a>
                                                    </h6>
                                                </div>
                                                <div class="pro-description">
                                                    @if (video.Description!=null && video.Description.Length > 0) {
                                                    <h5>
                                                        @(video.Description.Length>50?
                                                                video.Description.Substring(0,50):video.Description)[...]
                                                    </h5>
                                                    }
                                                    
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            }


                        </div>
                    </div>
                </section>
                <div class="product-list-pagination">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="pageination">
                                <nav>
                                    <ul class="pagination justify-content-center">
                                        <li class="page-item disabled">
                                            <a class="page-link disabled" href="#">
                                                <i class="fas fa-angle-double-left"></i>
                                            </a>
                                        </li>

                                        <li class="page-item active">
                                            <a class="page-link" href="search.html">
                                                1
                                            </a>
                                        </li>
                                        <li class="page-item ">
                                            <a class="page-link" href="searche9e8.html?pageno=2">
                                                2
                                            </a>
                                        </li>
                                        <li class="page-item ">
                                            <a class="page-link" href="searchc321.html?pageno=3">
                                                3
                                            </a>
                                        </li>
                                        <li class="page-item ">
                                            <a class="page-link" href="search78d1.html?pageno=4">
                                                4
                                            </a>
                                        </li>
                                        <li class="page-item ">
                                            <a class="page-link" href="searchc0e1.html?pageno=5">
                                                5
                                            </a>
                                        </li>
                                        <li class="page-item ">
                                            <a class="page-link" href="search7834.html?pageno=6">
                                                6
                                            </a>
                                        </li>
                                        <li class="page-item ">
                                            <a class="page-link" href="searchea2f.html?pageno=7">
                                                7
                                            </a>
                                        </li>
                                        <li class="page-item ">
                                            <a class="page-link" href="searchac2c.html?pageno=8">
                                                8
                                            </a>
                                        </li>
                                        <li class="page-item ">
                                            <a class="page-link" href="search54fb.html?pageno=9">
                                                9
                                            </a>
                                        </li>

                                        <li class="page-item">
                                            <a class="page-link" href="searche9e8.html?pageno=2">
                                                <i class="fas fa-angle-double-right"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


@*<div class="col-lg-4 col-sm-6">
        <div class="item">
            <div class="product-item">
                <div class="picture">
                    <img src="~/Uploads/image/slider-img-2.jpeg" class="img-fluid">
                </div>
                <div class="picture-title">
                    <div class="pro-header">

                        İmtahandan Keçməyin Ən Asan Yolu | Kəsrlərə Son! | İmtahan Ritualı (YOXLANILDI)

                    </div>
                    <div class="pro-description">
                        <h5>
                            İmtahandan Keçməyin Ən Asan Yolu!
                            Artıq kəsrlərinizdən sizdə bezdizsə, yada birdən imtahanda bilmədiyim sual düşəcək deyə qorxurduzsa buna son vermək vaxtıdır. Bu videomda sizlərə özümün də yoxladığı və işə yarayan bir yolu paylaşıram. Umid edirəm ki, videonu bəyənərsiz və işinizə yarıyar.
                        </h5>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="col-lg-4 col-sm-6">
        <div class="item">
            <div class="product-item">
                <div class="picture">
                    <img src="~/Uploads/image/slider-img-3.jpeg" class="img-fluid">
                </div>
                <div class="picture-title">
                    <div class="pro-header">

                        Başqasının Yuxusuna Girin! Yuxu Ritualı (YOXLANILDI!)
                    </div>
                    <div class="pro-description">
                        <h5>
                            Salam hərkəsə. Kanalımın ilk videosunu sizlərlə paylaşıram. Videoda başqasının yuxusuna girmək necə olar o izah edilib. İzlədiyiniz üçün təşəkkürlər.

                            Videonu xoşunuza gəldisə dəstək olmaq adına bəyənməyi və abone olmağı unutmayın.
                            Digər videolar üçün takibdə qalın.
                        </h5>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6">
        <div class="item">
            <div class="product-item">
                <div class="picture">
                    <img src="~/Uploads/image/slider-img-4.jpeg" class="img-fluid">
                </div>
                <div class="picture-title">
                    <div class="pro-header">

                        İstədiyin İnsana Mesaj Yazdırmaq! İstədiyin İnsan Sənə Mesaj Yazsın! (KAĞIZ RİTUALI İLƏ MESAJ ATDIR)
                    </div>
                    <div class="pro-description">
                        <h5>
                            Istədiyiniz insana mesaj atdırmaq bu videonu izlədikdən sonra çox asandır.  Sizlərə küsülü olduğunuz və ya heç əlaqəniz olmadığı və ya da hər hansı fərqli səbəblərdən danışmadığınız birinə necə mesaj yazdıra bilərsiz onu izah etmişəm. Umid edirəmki videonu bəyənərsiz və yararlı olar.
                        </h5>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6">
        <div class="item">
            <div class="product-item">
                <div class="picture">
                    <img src="~/Uploads/image/pulritual.jpg" class="img-fluid">
                </div>
                <div class="picture-title">
                    <div class="pro-header">

                        1 İlə 1 Milyon Qazanmaq! | Bu Yol İlə Pulu Özünüzə Çəkin | Pul Ritualı! (YOXLANILMIŞ YOL)
                    </div>
                    <div class="pro-description">
                        <h5>
                            Bu videomda sizlərə Jack Canfield-ın da yoxladığı və nəticə gördüyü, özümüzə pul çəkmək üçün etməli olduğumuz ritual haqqında məlumat paylaşmışam.
                        </h5>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6">
        <div class="item">
            <div class="product-item">
                <div class="picture">
                    <img src="~/Uploads/image/sevgiritual.webp" class="img-fluid">
                </div>
                <div class="picture-title">
                    <div class="pro-header">

                        Bu Ritual İlə İŞ, SEVGİ, PUL Həyatınızda Uğur Qazanın! | 5-55 Ritualı |
                    </div>
                    <div class="pro-description">
                        <h5>
                            Bu videomda sizlərə bütün diləkləriniz üçün-pul,iş,sevgi həyatınızda edə biləcəyiniz 5-55 ritualını (metodunu) necə edə bilərsiz onu izah etmişəm.
                        </h5>
                    </div>
                </div>

            </div>
        </div>
    </div>*@